Source: odt2txt
Maintainer: Luis Paulo Linares <lpfllinares@gmail.com>
Section: text
Priority: optional
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), libzip-dev, pkg-config, zlib1g-dev
Standards-Version: 4.5.0
Homepage: https://github.com/dstosberg/odt2txt/
Vcs-Browser: https://salsa.debian.org/debian/odt2txt
Vcs-Git: https://salsa.debian.org/debian/odt2txt.git

Package: odt2txt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: simple converter from OpenDocument Text to plain text
 odt2txt is a command-line tool which extracts the text out of OpenDocument
 Texts, as produced by OpenOffice.org, KOffice, StarOffice and others.
 .
 odt2txt can also extract text from some file formats similar to OpenDocument
 Text, such as OpenOffice.org XML (*.sxw), which was used by OpenOffice.org
 version 1.x and older StarOffice versions. To a lesser extend, odt2txt may
 be useful to extract content from OpenDocument spreadsheets (*.ods) and
 OpenDocument presentations (*.odp).
 .
 It is small and fast, can output the document in many encodings and
 adopts to your locale.
